.home-page-section{
    margin-top: 80px;
    
}

.home-page-title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: white;
}

.home-page-paragraph{
    font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
  width: 45%;
}

.mac-button{
    width: 300px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    border: none;
    
    }
    
    .discord-button{
      width: 300px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      height: 60px;
      background-color: rgb(36, 39, 41);
      color: white;
      padding: 15px;
      border-radius: 30px;
      border: none;
      margin-top: 20px;
    }

    .image{
        position: absolute;
        right: 1px;
        bottom: 0;
    }